# Node
node_modules/
*.log

# Build
dist/
output/
coverage/

# Environment files
.env
.env.*         # 環境別ファイル（.env.development, .env.productionなど）
!.env.example  # テンプレートはGitに含める
!.env.test  # testはGitに含める

# System
.DS_Store
.idea/
.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
